.calculadora {
    background: rgb(76, 146, 76);
    width: 300px;
    padding: 10px;
    border-radius: 30px;

}
.calculadora input{
 background: black;
 color: aquamarine;
 padding: 5px;
 border-radius: 5px;
}
